# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos locais
"Anotações juntardifals.txt"
"Code funcionando - Juntar Difals v2 2.txt"
difal testes 11/
versao 1/
versao 2/
